@media (prefers-color-scheme: dark) {
    body { background-color: rgb(0, 60, 18); color:  white; }
}

@media (prefers-color-scheme: light) {
    body { background-color: rgb(0, 175, 38); color:  black; }
}

a {
    color: white;
}

#contentContainer {
    max-width: 550px;
    position: relative;
    top: 0%;
    left: 0vw;
    margin: auto;
    color: white;
    background-color: #006000;
}

#menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
}

#gameContainer {
    max-width: 550px;
    position: relative;
    top: 0%;
    left: 0vw;
    margin: auto;
    background-color: #006000;
}

#playersScoreContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4px 4px 8px 4px;
}

.PlayerScoreContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    margin: 2px;
}

.PlayerScoreNumber {
    font-size: 24px;
}

#playedCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #008800;
}

.Card {
    width: 100px;
    height: 150px;
}

.PlayedCardContainer {
    display: grid;
    width: 102px;
    height: 170px;
    background-color: rgba(00, 99, 37, 0.7);
    padding: 2px;
    margin: 1px;
}

#playerCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    padding: 4px;
}

#playerCardsContainer .Card {
    margin: 2px;
}
