@media (prefers-color-scheme: dark) {
    body { background-color: rgb(0, 60, 18); color:  white; }
}

@media (prefers-color-scheme: light) {
    body { background-color: rgb(0, 175, 38); color:  black; }
}

a {
    color: white;
}

#contentContainer {
    max-width: 650px;
    position: relative;
    top: 0%;
    left: 0vw;
    margin: auto;
    color: white;
    background-color: #006000;
}

.Overlay {
    position: absolute;
    width: min(100%, 650px);
    height: min(100%, 845px);
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
}

.RightAlign {
    text-align: right;
}

#startGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startGameContainer div {
    padding-top: 25px;
    min-height: 25px;
}

#endGameStatsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.EndGamePlayerInfoContainer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 50% 30% 10%;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}

.EndGameStartNewGameButtonContainer {
    border-style: hidden;
    min-height: 30px;
}

.EndGameWinningPlayer {
    font-weight: 900;
}

.EndGameSelfPlayer {
    border-style: dashed;
    border-color: white;
}

#gameContainer {
    max-width: 100%;
    width: 650px;
    position: relative;
    top: 0%;
    left: 0vw;
    background-color: #006000;
}

#gameInfoContainer {
    display: grid;
    grid-template-columns: auto 108px;
}

#trumpCardContainer {
    background-color: #008800;
    padding: 2px 2px 0px 2px !important;
}

#playedCardsContainer {
    position: relative;
    width: 650px;
    height: 650px;
    background-color: transparent;
    z-index: 1;
}

#playedCardsBackgroundContainer {
    position: absolute;
    top: 18px;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: #008800;
    z-index: 0;
}

.DroppableTargetHighlight {
    border-style: dashed;
    border-color: azure;
    border-width: 2px;
    margin: 0px !important;
}

.Card {
    width: 100px;
    height: 150px;
}

.CardImgContainer {
    text-align: center;
}

.CardContainer {
    display: block;
    width: 102px;
    height: auto;
    min-height: 170px;
    padding: 2px;
    margin: 1px 1px 1px 1px;
}

.PlayedCardContainer {
    background-color: rgba(00, 99, 37, 0.9);
}

.PlayedCardContainer_Left {
    /* no- op */
}

.PlayedCardContainer_Right {
    /* no- op */
}

#playedCardsContainer div#trumpCardContainer {
    margin-left: auto;
    margin-right: auto;
    transform: translateY(238px);
}

#playedCardsContainer span.CardContainer {
    position: absolute;
}

.WinningCardAnimation {
    transition: background-color 0.5s ease;
    background-color: rgba(51, 255, 5, 0.9);
}

@keyframes current-card-animation {
    0%   {border-color:transparent;}
    50%  {border-color:rgba(51, 255, 5, 0.9);}
    100% {border-color:transparent;}
}

.CurrentCardAnimation {
    border: 5px solid;
    border-color: transparent;
    animation-name: current-card-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes current-winning-card-animation {
    0%   {border-color:transparent;}
    50%  {border-color:rgba(5, 255, 255, 0.9);}
    100% {border-color:transparent;}
}

.CurrentWinningCard {
    border: 5px dotted;
    border-color: transparent;
    animation-name: current-winning-card-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#currentCardsInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#currentCardIndicator {
    border: 3px dotted;
    border-color: rgba(51, 255, 5, 0.9);;
}

#currentWinningCardIndicator {
    border: 3px solid;
    border-color: rgba(5, 255, 255, 0.9);
}

#playerInfoContainer {
    top: 650px;
    z-index: 2;
    background-color: rgba(0, 60, 0, 0.6);
}

#playerCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    min-height: 165px;
}

#playerCardsContainer .Card {
    margin: 2px;
}

.DisabledSelfPlayerCards {
    background-color: SlateGray;
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    z-index: 9;
}

.TrumpCardStolen {
    opacity: 0.50;
}

.DisabledSelfPlayerCard {
    opacity: 0.50;
}

#selfPlayerRobbingCardOverlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#selfPlayerRobbingCardOverlay div {
    margin: 16px;
}

.SelfPlayerPlayedCard {
    left: 272px;
    top: 468px;
}

.PlayerCardsContainerEnabled{
    width: min(650px, 100vw);
}

@media all and (max-width: 650px) {
    body {
        padding: 0px;
        margin: 0px;
    }

    .PlayedCardContainer_Left {
        left: 2vw !important;
    }
    
    .PlayedCardContainer_Right {
        left: calc(calc(100vw - 106px) - 2vw) !important;
    }
    
    .PlayedCardContainer_Center, .SelfPlayerPlayedCard {
        left: calc(50vw - 53px) !important;
    }

    #playedCardsContainer {
        width: 100vw;
    }

    #playedCardsBackgroundContainer {
        width: 100vw;
        border-radius: 25%;
    }

    .PlayerCardsContainerEnabled {
        position: absolute;
        top: 85vh !important;
    }
}

/* Auto generated */
.CardAngle_2_of_2 {
    left: 272px;
    top: 8px;
    z-index: 1;
}
.CardAngle_2_of_3 {
    left: 73px;
    top: 123px;
    z-index: 1;
}

.CardAngle_3_of_3 {
    left: 471px;
    top: 123px;
    z-index: 2;
}
.CardAngle_2_of_4 {
    left: 42px;
    top: 238px;
    z-index: 1;
}
.CardAngle_3_of_4 {
    left: 272px;
    top: 8px;
    z-index: 1;
}
.CardAngle_4_of_4 {
    left: 502px;
    top: 238px;
    z-index: 2;
}
.CardAngle_2_of_5 {
    left: 53px;
    top: 309px;
    z-index: 2;
}
.CardAngle_3_of_5 {
    left: 137px;
    top: 52px;
    z-index: 1;
}
.CardAngle_4_of_5 {
    left: 407px;
    top: 52px;
    z-index: 2;
}
.CardAngle_5_of_5 {
    left: 491px;
    top: 309px;
    z-index: 3;
}
.CardAngle_2_of_6 {
    left: 73px;
    top: 353px;
    z-index: 2;
}
.CardAngle_3_of_6 {
    left: 73px;
    top: 123px;
    z-index: 1;
}
.CardAngle_4_of_6 {
    left: 272px;
    top: 8px;
    z-index: 1;
}
.CardAngle_5_of_6 {
    left: 471px;
    top: 123px;
    z-index: 2;
}
.CardAngle_6_of_6 {
    left: 471px;
    top: 353px;
    z-index: 3;
}
.CardAngle_2_of_7 {
    left: 92px;
    top: 381px;
    z-index: 3;
}
.CardAngle_3_of_7 {
    left: 48px;
    top: 187px;
    z-index: 2;
}
.CardAngle_4_of_7 {
    left: 172px;
    top: 31px;
    z-index: 1;
}
.CardAngle_5_of_7 {
    left: 372px;
    top: 31px;
    z-index: 2;
}
.CardAngle_6_of_7 {
    left: 496px;
    top: 187px;
    z-index: 3;
}
.CardAngle_7_of_7 {
    left: 452px;
    top: 381px;
    z-index: 4;
}
.CardAngle_2_of_8 {
    left: 109px;
    top: 401px;
    z-index: 3;
}
.CardAngle_3_of_8 {
    left: 42px;
    top: 238px;
    z-index: 2;
}
.CardAngle_4_of_8 {
    left: 109px;
    top: 75px;
    z-index: 1;
}
.CardAngle_5_of_8 {
    left: 272px;
    top: 8px;
    z-index: 1;
}
.CardAngle_6_of_8 {
    left: 435px;
    top: 75px;
    z-index: 2;
}
.CardAngle_7_of_8 {
    left: 502px;
    top: 238px;
    z-index: 3;
}
.CardAngle_8_of_8 {
    left: 435px;
    top: 401px;
    z-index: 4;
}
.CardAngle_2_of_9 {
    left: 124px;
    top: 414px;
    z-index: 4;
}
.CardAngle_3_of_9 {
    left: 45px;
    top: 278px;
    z-index: 3;
}
.CardAngle_4_of_9 {
    left: 73px;
    top: 123px;
    z-index: 2;
}
.CardAngle_5_of_9 {
    left: 193px;
    top: 22px;
    z-index: 1;
}
.CardAngle_6_of_9 {
    left: 351px;
    top: 22px;
    z-index: 2;
}
.CardAngle_7_of_9 {
    left: 471px;
    top: 123px;
    z-index: 3;
}
.CardAngle_8_of_9 {
    left: 499px;
    top: 278px;
    z-index: 4;
}
.CardAngle_9_of_9 {
    left: 420px;
    top: 414px;
    z-index: 5;
}
.CardAngle_2_of_10 {
    left: 137px;
    top: 424px;
    z-index: 4;
}
.CardAngle_3_of_10 {
    left: 53px;
    top: 309px;
    z-index: 3;
}
.CardAngle_4_of_10 {
    left: 53px;
    top: 167px;
    z-index: 2;
}
.CardAngle_5_of_10 {
    left: 137px;
    top: 52px;
    z-index: 1;
}
.CardAngle_6_of_10 {
    left: 272px;
    top: 8px;
    z-index: 1;
}
.CardAngle_7_of_10 {
    left: 407px;
    top: 52px;
    z-index: 2;
}
.CardAngle_8_of_10 {
    left: 491px;
    top: 167px;
    z-index: 3;
}
.CardAngle_9_of_10 {
    left: 491px;
    top: 309px;
    z-index: 4;
}
.CardAngle_10_of_10 {
    left: 407px;
    top: 424px;
    z-index: 5
}