@media (prefers-color-scheme: dark) {
    body { background-color: #333; color:  white; }
}

@media (prefers-color-scheme: light) {
    body { background-color: white; color:  black; }
}

a {
    color: white;
}

#contentContainer {
    max-width: 550px;
    position: relative;
    top: 0%;
    left: 0vw;
    margin: auto;
    color: white;
    background-color: #006000;
}

#menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
}

#gameContainer {
    max-width: 550px;
    position: relative;
    top: 0%;
    left: 0vw;
    margin: auto;
    background-color: #006000;
}

#playedCardsContainer {
    background-color: #008800;
    min-height: 300px;
}

.Card {
    max-width: 100px;
    max-height: 150px;
}

.PlayedCardContainer {
    display: inline-block;
    max-width:100px;
    background-color: rgba(77, 99, 77, 0.7);
    padding: 1px;
    margin: 1px;
}

#playersScoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.PlayerScoreContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
}

.playerCardsContainer {
    display: grid;
    justify-items: center;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, 95px);
    grid-template-rows: repeat(1, 100px);
}